{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "off",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    },
    {
      "files": ["internal/ailink/prompt/prompts/*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
